on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-without-cache:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory:  jobsService
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Build with Gradle
        run: ./gradlew build --scan